.primary-color {
    background-color: #B73590;
}

.user-nav {
    display: flex;
    gap: 1em;
    align-items: center;
}

.content-title {
    font-size: 25px;
    font-weight: bold;
}

input, select, textarea{
    color: black;
}

a {
    cursor: pointer;
}

.form {
    width: 40%;
}

.form_row {
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
}

input {
    padding: 5px 10px;
    border-radius: 5px;
}
