@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  color: white;
  background: url(assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  flex: 1;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
